{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties"
        ],
        [
            "@babel/transform-runtime"
        ],
        [
            "module-resolver",
            {
                "alias": {
                    "@root": [
                        "./bin",
                        "./src"
                    ]
                }
            }
        ]
    ],
    "env": {
        "production": {
            "presets": [
                "minify"
            ]
        }
    }
}